/node_modules/

# Next.js
/.next/
/next-env.d.ts
/out/

# TypeScript
/tsconfig.tsbuildinfo

# VS Code
/.vscode/mcp.json

# Playwright
/blob-report/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/test-results/

# Environment files
/.env*.local

# Sanity
/.sanity/
/dist/
/schema.json
/sanity.types.ts
