name: Test Check
on:
  pull_request:
    branches: [main]
jobs:
  test:
    env:
      NEXT_PUBLIC_SANITY_DATASET: ${{ vars.NEXT_PUBLIC_SANITY_DATASET }}
      NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ vars.NEXT_PUBLIC_SANITY_PROJECT_ID }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version-file: package.json

      - name: Initialize repository
        run: npm run init

      - name: Run tests
        run: npm test
