name: Test Check
on:
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version-file: package.json

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
